.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001020;
}

.contenedor-calculadora {
  min-width: 300px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid aliceblue;
  box-shadow: 0 0 10px aliceblue;
}

/* .logo-image {
  position: absolute;
  left: 10px;
  top: 10px;
} */

@media screen and (max-width: 1024px) {
  .contenedor-calculadora {
    width: 90vw;
  }
}

@media screen and (max-height: 1366px) {
  .contenedor-calculadora {
    overflow: auto;
    max-height: 90vh;
  }
}
